body{
  font-family: "Dancing Script";
  background-color: #02010a;
  max-width: 900px;
  margin: 0 auto;
}

header{
  width: 100%;
  background-color: #5b7989;
  border-radius: 10px 10px 0 0;
  display: flex;
}
header h1{
  padding-left: 20px;
  margin-right: auto;
  color: white;
  text-align: left;
  text-shadow: 2px 2px #02010a;
}
.Enlaces a{
  padding: 30px 20px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 1.5em;
}
.Enlaces a:nth-child(3){
  text-decoration: none;
}

#Contenido{
  display: grid;
  width: 100%;
}
.Contenedor1{
  background-color: #82c3a6;
  text-align: center;
}
#Imagen1 img{
  width: 90%;
  margin: 20px auto;
}

.Contenedor2{
  background-color: #d5c75f;
  display: flex;
  flex-flow: row nowrap;
  border: 1px solid black;
  text-align: center;
}
#Imagen2 img{
  height: 220px;
  margin: 10px auto;
}
#Imagen3 img{
  width: 330px;
  margin: 10px auto;
}
